<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/engineer.js"></script>
<script src="/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/settings.js"></script>
<head>
    <meta charset="UTF-8">
    <link th:href="@{engineer.css}" rel="stylesheet" />
    <link th:href="@{menu-bar.css}" rel="stylesheet"/>

    <title>smart calculator</title>
</head>
<body onload="getSettings()">
    <div id="bar" th:insert="menu-bar :: bar"></div>
    <div id="content">
        <h3>Calculator/Engineer calculator</h3>
        <div id="calc-base">
            <div id="calc">
                    <div id="display">
                        <div id="state_bar">
                            <a class="state" id="xState">x =</a>
                            <a class="state" id="xVal">0</a>
                            <a class="state" id="mode">rad</a>
                            <a class="state" id="memory"></a>
                            <a class="state" id="status"></a>
                        </div>
                        <div id="fieldDiv"><label for="field"></label><input id="field" autofocus="autofocus" type="text"></div>
                    </div>
                    <div id="control">
                        <div class="results" id="1-line">
                            <button class="buttons" id="rad" type="button" onclick="radBtn('rad')">Rad</button>
                            <button class="buttons" id="deg" type="button" onclick="degBtn('deg')">Deg</button>
                            <button class="buttons" id="x" type="button" onclick="pushBtn('x')">x</button>
                            <button class="buttons" id="(" type="button" onclick="pushBtn('(')">(</button>
                            <button class="buttons" id=")" type="button" onclick="pushBtn(')')">)</button>
                            <button class="buttons" id="%" type="button" onclick="pushBtn('%')">%</button>
                            <button class="buttons" id="ac" type="button" onclick="resetBtn()">AC</button>
                            <button class="buttons" id="delete" type="button" onclick="deleteSymbol()"><</button>

                        </div>
                        <div class="results" id="2-line">
                            <button class="buttons" id="sin" type="button" onclick="pushBtn('sin(')">sin</button>
                            <button class="buttons" id="cos" type="button" onclick="pushBtn('cos(')">cos</button>
                            <button class="buttons" id="tan" type="button" onclick="pushBtn('tan(')">tan</button>
                            <button class="buttons" id="7" type="button" onclick="pushBtn('7')">7</button>
                            <button class="buttons" id="8" type="button" onclick="pushBtn('8')">8</button>
                            <button class="buttons" id="9" type="button" onclick="pushBtn('9')">9</button>
                            <button class="buttons" id="*" type="button" onclick="pushBtn('*')">*</button>
                            <button class="buttons" id="m+" type="button" onclick="memoryAdd()">M+</button>
                        </div>
                        <div class="results" id="3-line">
                            <button class="buttons" id="asin" type="button" onclick="pushBtn('asin(')">asin</button>
                            <button class="buttons" id="acos" type="button" onclick="pushBtn('acos(')">acos</button>
                            <button class="buttons" id="atan" type="button" onclick="pushBtn('atan(')">atan</button>
                            <button class="buttons" id="6" type="button" onclick="pushBtn('6')">6</button>
                            <button class="buttons" id="5" type="button" onclick="pushBtn('5')">5</button>
                            <button class="buttons" id="4" type="button" onclick="pushBtn('4')">4</button>
                            <button class="buttons" id="/" type="button" onclick="pushBtn('/')">÷</button>
                            <button class="buttons" id="m-" type="button" onclick="memoryClear()">M-</button>
                        </div>
                        <div class="results" id="4-line">
                            <button class="buttons" id="sqrt" type="button" onclick="pushBtn('sqrt(')">√</button>
                            <button class="buttons" id="ln" type="button" onclick="pushBtn('ln(')">ln</button>
                            <button class="buttons" id="log" type="button" onclick="pushBtn('log(')">log</button>
                            <button class="buttons" id="1" type="button" onclick="pushBtn('1')">1</button>
                            <button class="buttons" id="2" type="button" onclick="pushBtn('2')">2</button>
                            <button class="buttons" id="3" type="button" onclick="pushBtn('3')">3</button>
                            <button class="buttons" id="-" type="button" onclick="pushBtn('-')">-</button>
                            <button class="buttons" id="mr" type="button">MR</button>
                        </div>
                        <div class="results" id="5-line">
                            <button class="buttons" id="xn" type="button" onclick="pushBtn('^')">x<sup>n</sup></button>
                            <button class="buttons" id="mod" type="button" onclick="pushBtn('mod')">mod</button>
                            <button class="buttons" id="createChart" type="button" onclick="sendChartDataToBack()">chart</button>
                            <button class="buttons" id="dot" type="button" onclick="pushBtn('.')">.</button>
                            <button class="buttons" id="0" type="button" onclick="pushBtn('0')">0</button>
                            <button class="buttons" id="=" type="button" onclick="sendDataToBack('/engineer')">=</button>
                            <button class="buttons" id="+" type="button" onclick="pushBtn('+')">+</button>
                            <button class="buttons" id="x=" type="button" onclick="calculateXvalue()">X=</button>
                        </div>
                    </div>
                </div>
            <div id="chart">
                    <canvas id="myChart"></canvas>
                    <script src="/chart.js" type="module"></script>
            </div>
        </div>
    </div>
</body>
</html>